/* File: angband.rc */ANGBAND MENU { POPUP "&File" {  MENUITEM "&New", 101  MENUITEM "&Open...", 102  MENUITEM "&Save", 103  MENUITEM SEPARATOR  MENUITEM "E&xit with Save", 104  MENUITEM "&Quit", 105 } POPUP "O&ptions" {  POPUP "&Font"  {   MENUITEM "Angband window", 201   MENUITEM "Mirror window", 202   MENUITEM "Recall window", 203   MENUITEM "Choice window", 204  }  MENUITEM SEPARATOR  MENUITEM "M&irror window", 212  MENUITEM "&Recall window", 213  MENUITEM "&Choice window", 214  MENUITEM SEPARATOR  MENUITEM "&Graphics", 221  MENUITEM "&Sound", 222  MENUITEM SEPARATOR  MENUITEM "&Main window resizable", 231  MENUITEM "Run as Screensaver", 232 } POPUP "&Help" {  MENUITEM "&General", 901  MENUITEM "&Spoilers", 902 }}ANGBAND ICON "angband.ico"