#!/usr/bin/make -f
# MAde with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Cristoph Lameter.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DESTDIR         := `pwd`/debian/tmp
VANILLADESTDIR	:= `pwd`/debian/langband-vanilla
ZTERMDESTDIR	:= `pwd`/debian/langband-zterm
DATADESTDIR	:= `pwd`/debian/langband-data

INSTALL         := install
INSTALLFLAGS    := -g root -o root -m 0644
INSTALLDIRFLAGS := -g root -o root -m 0755

ENGINEDEST	:= $(DESTDIR)/usr/share/common-lisp/source/langband-engine
ENGINECONFDEST	:= $(DESTDIR)/var/games/langband-engine


VANILLADEST	:= $(VANILLADESTDIR)/usr/share/common-lisp/source/langband-vanilla
VANCONFDEST	:= $(VANILLADESTDIR)/var/games/langband-vanilla

#FOREIGNDEST     := $(SOURCESDEST)/lib/foreign
ENGINEDOC	:= $(DESTDIR)/usr/share/doc/langband-engine
WEBDEST		:= $(ENGINEDOC)/web
VANILLADOC	:= $(VANILLADESTDIR)/usr/share/doc/langband-vanilla
ZTERMDOC	:= $(ZTERMDESTDIR)/usr/share/doc/langband-zterm

GFXDEST		:= $(DATADESTDIR)/usr/share/games/langband-engine/graphics
AUDIODEST	:= $(DATADESTDIR)/usr/share/games/langband-engine/audio
FONTDEST	:= $(DATADESTDIR)/var/games/langband-engine/fonts
DATADOC		:= $(DATADESTDIR)/usr/share/doc/langband-data

CLIB_PATH	:= $(ZTERMDESTDIR)/usr/lib
LIBS		:= zterm/liblangband_ui.so zterm/liblangband_dc.so

ENGINEMAN	:= $(DESTDIR)/usr/share/man/man3
VANILLAMAN	:= $(VANILLADESTDIR)/usr/share/man/man3

INSTALLSOURCES	:= \
	pre-build.lisp \
	langband-engine.asd  langband-engine.system \
	package.lisp  base.lisp  constants.lisp \
	generics.lisp  sys.lisp classes.lisp \
	global.lisp  sound.lisp \
	character.lisp  object.lisp \
	equipment.lisp  player.lisp \
	monster.lisp  dungeon.lisp \
	building.lisp  stores.lisp \
	allocate.lisp  generate.lisp  print.lisp \
	util.lisp  combat.lisp actions.lisp \
	view.lisp project.lisp save.lisp \
	load.lisp  death.lisp \
	birth.lisp ai.lisp loop.lisp \
	dump.lisp init.lisp verify.lisp \
	conversation.lisp window.lisp \
	adts.lisp

COMPATSRC = \
	lib/compat/monster.lisp \
	lib/compat/obj-kind.lisp \
	lib/compat/floor.lisp \
	lib/compat/savefiles.lisp

BINTYPESSRC = \
	binary-types/binary-types.lisp

FOREIGNSRC = \
	ffi/ffi-acl.lisp \
	ffi/ffi-clisp.lisp \
	ffi/ffi-cmu.lisp \
	ffi/ffi-corman.lisp \
	ffi/ffi-load.lisp \
	ffi/ffi-defs.lisp \
	ffi/ffi-lw.lisp \
	ffi/ffi-sbcl.lisp 


CONFSRC = \
	config/dead.txt \
	config/news.txt \
	config/prefs.lisp \
	config/sound.lisp \
	config/theme.lisp \
	config/settings.cfg \
	config/sdl-keys.lisp \
	config/x11-keys.lisp \
	config/gcu-keys.lisp \
	config/win-keys.lisp

FONTS = \
	config/fonts/vga8x16.hex \
	config/fonts/lettergo.ttf \
	config/fonts/augie.ttf

VANSRC = \
	variants/vanilla/langband-vanilla.asd \
	variants/vanilla/langband-vanilla.system \
	variants/vanilla/base.lisp \
	variants/vanilla/combat.lisp \
	variants/vanilla/constants.lisp \
	variants/vanilla/ego.lisp \
	variants/vanilla/keys.lisp \
	variants/vanilla/levels.lisp \
	variants/vanilla/objects.lisp \
	variants/vanilla/player.lisp \
	variants/vanilla/print.lisp \
	variants/vanilla/quirks.lisp \
	variants/vanilla/rooms.lisp \
	variants/vanilla/spells.lisp \
	variants/vanilla/various.lisp \
	variants/vanilla/verify.lisp \
	variants/vanilla/wizard.lisp 

#	variants/vanilla/langband-vanilla.system \


VANCONFSRC = \
	variants/vanilla/config/armour.lisp \
	variants/vanilla/config/books.lisp \
	variants/vanilla/config/classes.lisp \
	variants/vanilla/config/combat.lisp \
	variants/vanilla/config/defines.lisp \
	variants/vanilla/config/effects.lisp \
	variants/vanilla/config/ego-items.lisp \
	variants/vanilla/config/flavours.lisp \
	variants/vanilla/config/floors.lisp \
	variants/vanilla/config/food.lisp \
	variants/vanilla/config/gold.lisp \
	variants/vanilla/config/keys.lisp \
	variants/vanilla/config/monsters.lisp \
	variants/vanilla/config/neckwear.lisp \
	variants/vanilla/config/objects.lisp \
	variants/vanilla/config/potions.lisp \
	variants/vanilla/config/races.lisp \
	variants/vanilla/config/rings.lisp \
	variants/vanilla/config/scrolls.lisp \
	variants/vanilla/config/spells.lisp \
	variants/vanilla/config/stats.lisp \
	variants/vanilla/config/sticks.lisp \
	variants/vanilla/config/stores.lisp \
	variants/vanilla/config/town-monsters.lisp \
	variants/vanilla/config/traps.lisp \
	variants/vanilla/config/uniques.lisp \
	variants/vanilla/config/weapons.lisp \
	variants/vanilla/config/wizard.lisp 


build-arch: build-arch-stamp
build-arch-stamp:
	dh_testdir
	# Add here command to compile/build the package.
	$(MAKE)
	touch build-arch-stamp

build-indep: build-indep-stamp
build-indep-stamp:
	dh_testdir
	# Add here command to compile/build the arch indep package.
	# It's ok not to do anything here, if you don't need to build
	#  anything for this package.
	#/usr/bin/docbook-to-man debian/#PACKAGE#.sgml > #PACKAGE#.1
	touch build-indep-stamp

build: build-arch build-indep


clean:
	dh_testdir
	rm -f build-arch-stamp build-indep-stamp
	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/<pkgs>
	$(INSTALL) $(INSTALLFLAGS) $(INSTALLSOURCES) $(ENGINEDEST)
	$(INSTALL) $(INSTALLFLAGS) $(FOREIGNSRC) $(ENGINEDEST)/ffi
	$(INSTALL) $(INSTALLFLAGS) $(BINTYPESSRC) $(ENGINEDEST)/binary-types
	$(INSTALL) $(INSTALLFLAGS) $(COMPATSRC) $(ENGINEDEST)/lib/compat
	$(INSTALL) $(INSTALLFLAGS) lib/help/*.txt $(ENGINEDEST)/lib/help
	$(INSTALL) $(INSTALLFLAGS) lib/help/THANKS $(ENGINEDEST)/lib/help
	$(INSTALL) $(INSTALLFLAGS) $(CONFSRC) $(ENGINECONFDEST)

	$(INSTALL) $(INSTALLFLAGS) man/langband-engine.3l $(ENGINEMAN)
	$(INSTALL) $(INSTALLFLAGS) ChangeLog $(ENGINEDOC)/changelog
	$(INSTALL) $(INSTALLFLAGS) web/*.html $(WEBDEST)

	# Data package
	$(INSTALL) $(INSTALLFLAGS) $(FONTS) $(FONTDEST)
	$(INSTALL) $(INSTALLFLAGS) graphics/other/*.png $(GFXDEST)/other
	$(INSTALL) $(INSTALLFLAGS) graphics/other/*.bmp $(GFXDEST)/other
	$(INSTALL) $(INSTALLFLAGS) graphics/people/*.png $(GFXDEST)/people
	$(INSTALL) $(INSTALLFLAGS) graphics/tiles/*.bmp $(GFXDEST)/tiles
	$(INSTALL) $(INSTALLFLAGS) graphics/tiles/*.png $(GFXDEST)/tiles
	$(INSTALL) $(INSTALLFLAGS) graphics/textures/*.png $(GFXDEST)/textures
	$(INSTALL) $(INSTALLFLAGS) graphics/textures/*.bmp $(GFXDEST)/textures
	$(INSTALL) $(INSTALLFLAGS) audio/effects/*.wav $(AUDIODEST)/effects
	$(INSTALL) $(INSTALLFLAGS) debian/README.Debian $(DATADOC)

	# Vanilla stuff
	$(INSTALL) $(INSTALLFLAGS) $(VANSRC) $(VANILLADEST)
	$(INSTALL) $(INSTALLFLAGS) $(VANCONFSRC) $(VANCONFDEST)
	$(INSTALL) $(INSTALLFLAGS) debian/README.Debian $(VANILLADOC)
	$(INSTALL) $(INSTALLFLAGS) variants/vanilla/ChangeLog $(VANILLADOC)/changelog
	$(INSTALL) $(INSTALLFLAGS) man/langband-vanilla.3l $(VANILLAMAN)

	# Zterm stuff
	$(INSTALL) $(INSTALLFLAGS) $(LIBS) $(CLIB_PATH)
	$(INSTALL) $(INSTALLFLAGS) debian/README.Debian $(ZTERMDOC)

	dh_movefiles


# Build architecture-independent files here.
# Pass -i to all debhelper commands in this target to reduce clutter.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
#	dh_installdebconf -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installmenu -i
#	dh_installlogrotate -i
#	dh_installemacsen -i
#	dh_installpam -i
#	dh_installmime -i
#	dh_installinit -i
	dh_installcron -i
#	dh_installman -i
	dh_installinfo -i
#	dh_undocumented -i
	dh_installchangelogs #CHANGELOGS# -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
#	dh_perl -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
#	dh_installdebconf -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installmenu -a
#	dh_installlogrotate -a
#	dh_installemacsen -a
#	dh_installpam -a
#	dh_installmime -a
#	dh_installinit -a
	dh_installcron -a
#	dh_installman -a
	dh_installinfo -a
#	dh_undocumented -a
	dh_installchangelogs -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
#	dh_makeshlibs -a
	dh_installdeb -a
#	dh_perl -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
