/mangclient_sdl.res
/mangband.bpf
/mangband.dsk
/mangband.res
/mangclient.bpf
/mangclient.dsk
/mangclient.res
/mangclient_gcu.bpf
/mangclient_gcu.dsk
/mangclient_gcu.res
/mangclient_sdl.bpf
/mangclient_sdl.dsk
