ANGBAND MENU
{
        POPUP "&File"
        {
                MENUITEM "&New", 100
                MENUITEM "&Open...", 101
                MENUITEM SEPARATOR
                MENUITEM "&Save", 110
                MENUITEM SEPARATOR
                MENUITEM "Show S&cores", 120
                MENUITEM SEPARATOR
                MENUITEM "E&xit", 130
        }

        POPUP "&Window"
        {
                POPUP "&Visibility"
                {
                        MENUITEM "&sCthAngband", 200
                        MENUITEM "&Mirror", 201
                        MENUITEM "&Recall", 202
                        MENUITEM "&Choice", 203
                        MENUITEM "Xtra-&1", 204
                        MENUITEM "Xtra-&2", 205
                        MENUITEM "Xtra-&3", 206
                        MENUITEM "Xtra-&4", 207
                }

                POPUP "&Font"
                {
                        MENUITEM "&sCthAngband", 210
                        MENUITEM "&Mirror", 211
                        MENUITEM "&Recall", 212
                        MENUITEM "&Choice", 213
                        MENUITEM "Xtra-&1", 214
                        MENUITEM "Xtra-&2", 215
                        MENUITEM "Xtra-&3", 216
                        MENUITEM "Xtra-&4", 217
                }

                MENUITEM SEPARATOR

                POPUP "&Bizarre Display"
                {
                        MENUITEM "&sCthAngband", 230
                        MENUITEM "&Mirror", 231
                        MENUITEM "&Recall", 232
                        MENUITEM "&Choice", 233
                        MENUITEM "Xtra-&1", 234
                        MENUITEM "Xtra-&2", 235
                        MENUITEM "Xtra-&3", 236
                        MENUITEM "Xtra-&4", 237
                }

                POPUP "&Increase Tile Width"
                {
                        MENUITEM "&sCthAngband", 240
                        MENUITEM "&Mirror", 241
                        MENUITEM "&Recall", 242
                        MENUITEM "&Choice", 243
                        MENUITEM "Xtra-&1", 244
                        MENUITEM "Xtra-&2", 245
                        MENUITEM "Xtra-&3", 246
                        MENUITEM "Xtra-&4", 247
                }

                POPUP "&Decrease Tile Width"
                {
                        MENUITEM "&sCthAngband", 250
                        MENUITEM "&Mirror", 251
                        MENUITEM "&Recall", 252
                        MENUITEM "&Choice", 253
                        MENUITEM "Xtra-&1", 254
                        MENUITEM "Xtra-&2", 255
                        MENUITEM "Xtra-&3", 256
                        MENUITEM "Xtra-&4", 257
                }

                POPUP "I&ncrease Tile Height"
                {
                        MENUITEM "&sCthAngband", 260
                        MENUITEM "&Mirror", 261
                        MENUITEM "&Recall", 262
                        MENUITEM "&Choice", 263
                        MENUITEM "Xtra-&1", 264
                        MENUITEM "Xtra-&2", 265
                        MENUITEM "Xtra-&3", 266
                        MENUITEM "Xtra-&4", 267
                }

                POPUP "D&ecrease Tile Height"
                {
                        MENUITEM "&sCthAngband", 270
                        MENUITEM "&Mirror", 271
                        MENUITEM "&Recall", 272
                        MENUITEM "&Choice", 273
                        MENUITEM "Xtra-&1", 274
                        MENUITEM "Xtra-&2", 275
                        MENUITEM "Xtra-&3", 276
                        MENUITEM "Xtra-&4", 277
                }
        }

        POPUP "&Options"
        {
                POPUP "&Graphics"
                {
                        MENUITEM "&None", 400
                        MENUITEM "&Old tiles", 401
                        MENUITEM "&Adam Bolt's tiles", 402
                }

                MENUITEM "&Sound", 410
                MENUITEM SEPARATOR
                MENUITEM "&Low Priority", 420
                MENUITEM "&Activate Screensaver", 430
        }

        POPUP "&Help"
        {
                MENUITEM "&Contents", 901
                MENUITEM "&Spoilers", 902
        }
}

ANGBAND ICON "angband.ico"
